[submodule "SimpleDataStructure"]
	path = SimpleDataStructure
	url = https://github.com/MatsuTaku/SimpleDataStructure.git
[submodule "sdsl-lite"]
	path = sdsl-lite
	url = git@github.com:simongog/sdsl-lite.git
